.reviewsFilmText {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.reviewsTextFilm {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 5px;
}

.reviewsContainer {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.filmReviews {
  margin-bottom: 20px;
}
