.filmLink {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 200px;
  height: 380px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.filmLink:hover {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.filmContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.filmTitle {
  padding: 5px;
}

.filmImg {
  height: 300px;
}
