.actorImg {
  width: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.actorContainer {
  width: 150px;
  height: 250px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  overflow: auto;
}

.actorContainer::-webkit-scrollbar {
  width: 5px;
}

.actorContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.castContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.castTitle {
  margin-bottom: 20px;
}

.castTextFilm {
  font-size: 12px;
  color: rgb(255, 255, 255);
}

.castFilmText {
  margin-bottom: 10px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}
