.changeTop {
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: border, transform 0.3s ease-in-out;
}

.changeTop:hover {
  border: 1px solid rgb(255, 255, 255);
  transform: scale(1.1);
}

.btnContainer {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  justify-content: center;
}
